# Currently, it's easier to to exclude all files and
# to specify excludes from these excludes. :)

*

!Dockerfile
!script/piglet
!sparklib/target/scala-2.11/sparklib_2.11-*.jar
!target/scala-2.11/PigCompiler.jar
